<div class="body-container">
    <h2 class="head-topic">新規登録</h2>
    <%= form_with model: @user do |f| %>
        <div class="mb-3">
            <%= f.label :name ,"ユーザー名" ,class:"mb-3" %><span class="required-item">*</span>
            <%= f.text_field :name, class:"form-control", placeholder:"ユーザー名を入力" %>
        </div>
        <div class="mb-3">
            <%= f.label :email ,"メールアドレス" ,class:"mb-3" %><span class="required-item">*</span>
            <%= f.text_field :email, class:"form-control", placeholder:"メールアドレスを入力（name@example.com）" %>
        </div>
        <div class="mb-3">
            <%= f.label :password ,"パスワード" ,class:"mb-3" %><span class="required-item">*</span>
            <%= f.text_field :password, class:"form-control", placeholder:"パスワードを入力" %>
        </div>
        <div class="mb-4">
            <%= f.label :password_confirm ,"確認用パスワード" ,class:"mb-3" %><span class="required-item">*</span>
            <%= f.text_field :password_confirm, class:"form-control", placeholder:"確認用パスワードを入力" %>
        </div>
        <div class="mb-3">
            <%= f.submit "新規ユーザーを作成する", class:"btn btn-outline-primary w-100 py-3 fw-bolder"%>
        </div>

    <% end %>
</div>