<div class="form-container">
    <h2 class="head-topic">プロフィール編集</h2>

    <div class="error-messages">
        <%= render "shared/error",obj: @current_user%>
    </div>

    <%= form_with model: @user, url: users_profile_update_path do |f| %>
        <div class="mb-3 d-flex align-items-center">
            <%= f.label :name ,"アイコン画像" ,class:"me-3" %>
                <% if @current_user.image_name.attached? %>
                    <%= image_tag(rails_blob_path(@current_user.image_name),:size => "60x60") %>
                <% else %>
                    <%= image_tag("default_user.png", :size => "60x60") %>
                <% end %>
        </div>
        <%= f.file_field :image_name, id:"item-image", class:"hidden mb-3" %>
        <div class="mb-3">
            <%= f.label :name ,"ユーザー名" ,class:"mb-3" %>
            <%= f.text_field :name, class:"form-control", placeholder:"ユーザー名を入力",value:"#{@current_user.name}" %>
        </div>
        <div class="mb-3">
            <%= f.label :introduction ,"自己紹介" ,class:"mb-3" %>
            <%= f.text_area :introduction, class:"form-control pb-5", placeholder:"自己紹介を入力", value:"#{@current_user.introduction}"%>
        </div>
        <div class="d-flex justify-content-end">
            <%= f.submit  "保存", class:"btn btn-outline-primary w-25 py-2 mt-3 me-3 fw-bolder"%>
            <%= link_to "キャンセル", :users_account , class:"btn btn-dark w-25 py-2 mt-3 fw-bolder" %>
        </div>
    <% end %>
</div>