<div class="body-container">
    <h2 class="head-topic">アカウント設定</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <%= link_to "アカウント設定", :account,class:"btn btn-outline-success" %></br>
                <%= link_to "プロフィール", :profile,class:"btn btn-outline-success" %>
            </div>
            <div class="col-sm-6">
                <h3>アカウント</h3>
                <p>メールアドレス</p><%= @current_user.email %>
                <p>パスワード</p><%= @current_user.password %>
            </div>
        </div>
    </div>
</div>
<%= link_to("ログイン", "/login") %>