<div class="body-container">
    <h2 class="head-topic">登録施設一覧</h2>
    <table class="table align-middle">
        <thead class="">
            <tr>
                <th>画像</th>
                <th>施設名</th>
                <th>紹介文</th>
                <th>料金</th>
                <th>作成日</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% @rooms.each do |room| %>
            <tr>
                <td>
                    <% if room.image_room.attached? %>
                        <%= image_tag(rails_blob_path(room.image_room),:size => "140x80") %>
                    <% else %>
                        <%= image_tag("default_room.png", :size => "35x35") %>
                    <% end %>
                </td>
                <td><%= room.name %></td>
                <td><%= room.detail %></td>
                <td><%= room.price %></td>
                <td><%= room.created_at %></td>
                <td>
                    <div class="dropdown"> 
                    <button id="btnOpenMenu" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        設定
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnOpenMenu">
                        <%= link_to "編集", [:edit, room], class:"dropdown-item" %>
                        <button class="dropdown-item" type="button">メニュー1</a>
                        <button class="dropdown-item" type="button">メニュー2</a>
                        <button class="dropdown-item" type="button">メニュー3</a>
                    </div>
                </div>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>