<div class="body-container">
    <h2 class="head-topic">施設情報</h2>

    <div class="error-messages">
        <%= render "shared/error",obj: @reservation%>
    </div>

    <%= link_to :back,class:"text-decoration-none" do %>
        <p class="fs-5"><i class="fas fa-reply me-2"></i>戻る</span></p>
    <% end %>
    <div class="row">
        <div class="col-lg-6">
            <% if @room.image_room.attached? %>
                <%= image_tag(rails_blob_path(@room.image_room),class:"img-cover-lg") %>
            <% else %>
                <%= image_tag("default_room.png",class:"img-cover-lg") %>
            <% end %>
        </div>
            <div class="bg-light align-self-baseline px-4 py-5 col-lg-6 mb-5">
                <div class="d-flex justify-content-between">
                    <p class="room-name"><%= @room.name %></p>
                    <p class="room-price">¥<%= @room.price %></p>
                </div>
                <%= @room.detail %>
                <% if @current_user %>
                    <%= form_with model: @reservation, method: :get, url: reservations_confirm_path do |f| %> 
                        <div class="reservation-form d-flex justify-content-between">
                            <div class="mt-2">
                                <%= f.label :check_in ,"チェックイン",class:"mb-2" %></br>
                                <%= f.date_select(:check_in , {}, {class: "form-control w-auto d-inline-block"}) %>
                            </div> 
                            <div class="mt-2">
                                <%= f.label :check_out ,"チェックアウト",class:"mb-2" %></br>
                                <%= f.date_select(:check_out , {}, {class: "form-control w-auto d-inline-block"}) %>
                            </div>
                        </div>
                            <div class="mt-2"> 
                                <%= f.label :population ,"人数",class:"mb-2" %>              
                                <%= f.text_field :population, class:"form-control w-25" %>
                            </div>
                            <%= f.hidden_field :user_id, value: @current_user.id %>
                            <%= f.hidden_field :room_id, value: @room.id %>
                            <%= f.submit "予約する", class:"text-decoration-none text-white bg-show border border-light p-3 mt-3 w-100 rounded fw-bolder text-center"%>
                    <% end %>
                <% else %>
                    <div class="mt-4"> 
                        <p>※予約する場合は、ログインか新規登録が必要です</p>
                            <div class="mt-4 d-flex justify-content-between">
                                <%= link_to "ログインはこちら", :login, class:"text-decoration-none text-white bg-show p-3 me-3 w-50 rounded fw-bolder text-center" %>
                                <%= link_to "新規登録はこちら", :users_signup, class:"text-decoration-none text-white bg-show p-3 w-50 rounded fw-bolder text-center" %>
                            </div>
                    </div> 
                <% end %>        
            </div>
        </div>
</div>