<div class="body-container">
    <h2 class="head-topic">施設情報</h2>
    <div class="row">
        <div class="col-lg-6">
            <% if @room.image_room.attached? %>
                <%= image_tag(rails_blob_path(@room.image_room),class:"img-cover-lg") %>
            <% else %>
                <%= image_tag("default_room.png",class:"img-cover-lg") %>
            <% end %>
        </div>
            <div class="bg-light align-self-baseline px-4 py-3 col-lg-6">
                <div class="d-flex justify-content-between">
                    <p class="room-name"><%= @room.name %></p>
                    <p class="room-price">¥<%= @room.price %></p>
                </div>
                <%= @room.detail %>
                    <%= form_with model: @reservation, method: :post, url: reservations_confirm_path do |f| %> 
                        <div class="reservation-form d-flex justify-content-between">
                            <div class="mt-2">
                                <%= f.label :check_in ,"チェックイン",class:"mb-2" %></br>
                                <%= f.date_select(:check_in , {}, {class: "form-control w-auto d-inline-block"}) %>
                            </div> 
                            <div class="mt-2">
                                <%= f.label :check_out ,"チェックアウト",class:"mb-2" %></br>
                                <%= f.date_select(:check_out , {}, {class: "form-control w-auto d-inline-block"}) %>
                            </div>
                        </div>
                            <div class="mt-2"> 
                                <%= f.label :population ,"人数",class:"mb-2" %></br>               
                                <%= f.text_field :population, class:"form-control w-25" %>
                            </div>
                            <%= f.hidden_field :user_id, value: @current_user.id %>
                            <%= f.hidden_field :room_id, value: @room.id %>
                            <%= f.submit "予約する", class:"btn btn-outline-primary w-100 py-2 mt-3 fw-bolder"%>
                    <% end %>
            </div>
        </div>
</div>